<style>
	.shane-pro-social{
		width: 100%; padding: 5vw 5%; color: #fff; background-color: #000000;
	}
    .shane-pro-social h4{
      margin:0;
    }
	.social-text-img{
		 display: flex; justify-content: space-between; align-items: stretch;
	}
	.pro-social-left{
		border-bottom: 1px solid #FF6100; width: 29%; display: flex; justify-content: flex-start; align-content: space-between; flex-wrap: wrap;		
	}
	.pro-social-left>div{
		width: 100%;
	}
	.social-text-img .title{
		font-size: 2.8vw; line-height: 3vw; margin: 0.6vw 0 3vw; line-height: 3.2vw;
	}
	.social-text-img .subtitle{
		width: fit-content; font-size: 1vw; background: linear-gradient(49deg, #3EABAC 0%, #FCD402 100%); -webkit-background-clip: text; color: transparent; display: flex; align-items: center;
	}
	.social-text-img .subtitle span {
    	font-size: 0.6vw; margin-right: 0.5vw;
	}
	.social-text-img .text{
		font-size: 0.9vw; font-weight: 200; opacity: 0.9; line-height: 1.2vw;
	}
	.left-link{
		width: 100%; display: flex; justify-content: flex-start; align-items: center; padding-bottom: 2vw;
	}
	.left-link a{
		display:block; margin-right: 1vw; text-decoration: none; line-height:1.2vw;
	}
	.link-text{
		width: fit-content; padding: 0.3vw 1.5vw; color: #fff; border: 1px solid #fff; border-radius: 30px;
	}
	.left-link a span{
		color:#fff; font-size: 1.6vw; 
	}
    .left-link img{
      width:1.2vw;
    }
	.pro-social-right{
		width: 68%;
	}
	.prosocialSwiper{
		width: 100%;
	}
	.prosocialSwiper .swiper-slide{
		width:100%; display: flex; justify-content: space-between; align-items:stretch;
	}
	.prosocialSwiper .slide-left{
		width: 49%; position: relative;
	}
	.prosocialSwiper .slide-right{
		width: 49%; display: flex; justify-content: space-between; align-content: space-between; flex-wrap: wrap;
	}
	.prosocialSwiper .slide-right>div{
		width:48%;  position: relative;
	}
	.prosocialSwiper .slide-right>div img{
		width: 100%;
	}
	.prosocialSwiper .slide-context{
		position: absolute; width: 100%; height: 100%; top: 0; left: 0; background-color: #000000a1; color: #fff; padding: 20px; display: none; overflow: hidden; align-content: flex-end; flex-wrap:wrap;
	}
	.prosocialSwiper .slide-title{
		font-size: 1.2vw; line-height: 2vw; margin-bottom: 0.5vw; width:100%;
	}
	.prosocialSwiper .slide-text{
		font-size: 0.9vw; line-height: 1.2vw; font-weight: 200; opacity: 0.9; width:100%;
	}
	.prosocialSwiper .slide-context.active{
		display:flex; 
	}
	.shane-pro-social .social-np{
		width: fit-content; padding-top: 0.5vw; margin: 0 0 0 auto; color: #fff; display: flex;
	}
	.shane-pro-social .social-np>div{
		width:30px; height: 30px; margin-left: 5px; font-size: 20px; text-align: center; line-height: 28px; cursor: pointer;
	}
	.shane-pro-social .shane-next span{
		transform: scale(-1); 
	}
	.shane-pro-social .social-np .swiper-button-disabled{
		cursor:auto; opacity: 0.6;
	}
@media (max-width: 768px){
	.shane-pro-social{
		padding: 10vw 5%;
	}
	.social-text-img{
		 display: block;
	}
	.pro-social-left{
		width: 100%;	
	}
	.social-text-img .title{
		font-size: 6vw; line-height: 7.6vw; margin: 2vw 0 5vw;
	}
	.social-text-img .subtitle{
		font-size: 4.2vw; line-height: 5.2vw;
	}
	.social-text-img .subtitle span {
    	font-size: 2.6vw; margin-right: 1vw;
	}
	.social-text-img .text{
		font-size: 4.6vw; line-height:5.4vw;
	}
	.left-link{
		padding-bottom: 4vw; padding-top: 4vw;
	}
	.left-link a{
		margin-right: 3.6vw;
	}
	.link-text{
		padding: 3vw 4.6vw;
	}
	.left-link a span{
		font-size: 8vw; 
	}
    .left-link img{
      width: 5.6vw;
    }
	.pro-social-right{
		width: 100%; margin-top: 5vw;
	}
	.shane-pro-social .social-np{
		padding-top: 1.5vw;
	}
	.shane-pro-social .social-np>div{
		line-height: 30px;
	}
    .prosocialSwiper .swiper-slide{
		width:100%; display: block;
	}
	.prosocialSwiper .slide-left{
		width: 100%; margin-bottom: 4vw;
	}
	.prosocialSwiper .slide-right{
		width: 100%;
	}
	.prosocialSwiper .slide-right>div{
		margin-bottom: 4vw;
	}
	.prosocialSwiper .slide-context{
		padding: 10px;
	}
	.prosocialSwiper .slide-title{
		font-size: 4vw; line-height: 4vw; margin-bottom: 2vw;
	}
	.prosocialSwiper .slide-text{
		font-size: 3.4vw; line-height: 3.8vw;
	}
}
</style>
	<div class="social-text-img">
		<div class="pro-social-left">
			<div>
				<div class="subtitle"><span class="fa fa-circle"></span> {{ section.settings.subheading }}</div>
				<h2 class="title">{{ section.settings.heading }}</h2>
				<div class="text">
					{{ section.settings.text }}
				</div>
			</div>
			<div class="left-link">
				{%- if section.settings.linktext != blank -%}<a href="{{ section.settings.link }}" class="link-text">{{ section.settings.linktext }}</a>{% endif %}
				{%- if section.settings.facebook_link != blank -%}<a href="{{ section.settings.facebook_link }}"><span class="fa fa-facebook-square"></span></a>{% endif %}
                {%- if section.settings.instagram_link != blank -%}<a href="{{ section.settings.instagram_link }}"><span class="fa fa-instagram"></span></a>{% endif %}
				{%- if section.settings.pinterest_link != blank -%}<a href="{{ section.settings.pinterest_link }}"><span class="fa fa-pinterest-square"></span></a>{% endif %}
				{%- if section.settings.youtube_link != blank -%}<a href="{{ section.settings.youtube_link }}"><span class="fa fa-youtube-play"></span></a>{% endif %}
				{%- if section.settings.tiktok_link != blank -%}<a href="{{ section.settings.tiktok_link }}"><img src="https://cdn.shopify.com/s/files/1/2623/4904/files/tiktok.svg?v=1708327531"></a>{% endif %}
			</div>		
		</div>
		<div class="pro-social-right">
			<div class="swiper prosocialSwiper">
				<div class="swiper-wrapper">
                  {%- for block in section.blocks -%}
					<div class="swiper-slide">
						<div class="slide-left">
							<img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.image.alt }}" style="width: 100%;">
                            <div class="slide-context active">
								<h4 class="slide-title">{{ block.settings.title1 }}</h4>
								<div class="slide-text">{{ block.settings.text1 }}</div>
							</div>
						</div>
						<div class="slide-right">
                          <div>
							<img src="{{ block.settings.image_s1 | image_url }}" alt="{{ block.settings.image_s1.alt }}">
                            <div class="slide-context active">
                                <h4 class="slide-title">{{ block.settings.title2 }}</h4>
								<div class="slide-text">{{ block.settings.text2 }}</div>
                            </div>
                          </div>
    					  <div>
							<img src="{{ block.settings.image_s2 | image_url }}" alt="{{ block.settings.image_s2.alt }}">
                            <div class="slide-context active">
                                <h4 class="slide-title">{{ block.settings.title3 }}</h4>
								<div class="slide-text">{{ block.settings.text3 }}</div>
                            </div>
                          </div>
                          <div>
							<img src="{{ block.settings.image_s3 | image_url }}" alt="{{ block.settings.image_s3.alt }}">
                            <div class="slide-context active">
                                <h4 class="slide-title">{{ block.settings.title4 }}</h4>
								<div class="slide-text">{{ block.settings.text4 }}</div>
                            </div>
                          </div>
                          <div>
							<img src="{{ block.settings.image_s4 | image_url }}" alt="{{ block.settings.image_s4.alt }}">
                            <div class="slide-context active">
                                <h4 class="slide-title">{{ block.settings.title5 }}</h4>
								<div class="slide-text">{{ block.settings.text5 }}</div>
                            </div>
                          </div>
						</div>
					</div>
                    {% endfor %}
				</div>
			</div>
		</div>
	</div>
	<div class="social-np">
		<div class="shane-next"><span class="fa fa-play"></span></div>
		<div class="shane-prev"><span class="fa fa-play"></span></div>
	</div>
	<script>
		var prosocialSwiper = new Swiper(".prosocialSwiper", {
		  navigation: {
			nextEl: ".shane-pro-social .shane-prev",
			prevEl: ".shane-pro-social .shane-next",
		  },
		});
	</script>

{% schema %}
  {
    "name": "Pro Social",
    "class": "shane-pro-social",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
	  },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading"
	  },
      {
        "type": "textarea",
        "id": "text",
        "label": "Text",
        "default": "text"
      },
      {
        "id": "link",
        "type": "url",
        "label": "link"
      },
      {
        "id": "linktext",
        "type": "text",
        "label": "Link text",
        "default" : "Get Started"
      },
      {
        "id": "facebook_link",
        "type": "url",
        "label": "facebook link"
      },
      {
        "id": "instagram_link",
        "type": "url",
        "label": "instagram link"
      },
      {
        "id": "pinterest_link",
        "type": "url",
        "label": "pinterest_link link"
      },
      {
        "id": "youtube_link",
        "type": "url",
        "label": "youtube link"
      },
      {
        "id": "tiktok_link",
        "type": "url",
        "label": "tiktok link"
      }
    ],
    "blocks": [
       {
         "type": "item",
         "name": "item",
         "settings": [
            {
              "type": "image_picker",
              "id": "image",
              "label": "Image Big"
            },
            {
              "type": "text",
              "id": "title1",
              "label": "Image Big title"
        	},
            {
              "type": "textarea",
              "id": "text1",
              "label": "Image Big Text",
              "default": "text"
            },
            {
              "type": "image_picker",
              "id": "image_s1",
              "label": "Image small 1"
            },
           {
              "type": "text",
              "id": "title2",
              "label": "Image small title 1"
        	},
            {
              "type": "textarea",
              "id": "text2",
              "label": "Image small Text 1",
              "default": "text"
            },
            {
              "type": "image_picker",
              "id": "image_s2",
              "label": "Image small 2"
            },
           {
              "type": "text",
              "id": "title3",
              "label": "Image small title 2"
        	},
            {
              "type": "textarea",
              "id": "text3",
              "label": "Image small Text 2",
              "default": "text"
            },
            {
              "type": "image_picker",
              "id": "image_s3",
              "label": "Image small 3"
            },
           {
              "type": "text",
              "id": "title4",
              "label": "Image small title 3"
        	},
            {
              "type": "textarea",
              "id": "text4",
              "label": "Image small Text 3",
              "default": "text"
            },
            {
              "type": "image_picker",
              "id": "image_s4",
              "label": "Image small 4"
            },
           {
              "type": "text",
              "id": "title5",
              "label": "Image small title 4"
        	},
            {
              "type": "textarea",
              "id": "text5",
              "label": "Image small Text 4",
              "default": "text"
            }
         ]
       }
    ],
    "presets": [
       {
        "name": "Pro Social"
          
       }
    ]
  }
{% endschema %}